
body {

    background-color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.navigation {

    background-color: rgb(44, 141, 206);
    padding: 12px;
    margin-bottom: 1px;

    display: flex;
    position: sticky;
    top: 0;
}

div.navigation div {

 
    width: 25%;
    text-align: center;
    display: inline;
    color: rgba(211, 207, 207, 0.844);
}

div.navigation div:hover{

    color: aliceblue;

}

div.navigation ::after{
    content: "";
    display: table;
    clear: both;
}

div.column {
    border: dotted;
   
    text-align: center;
 
    height: 600px;


}

div.column ::after{
    content: "";
    display: table;
    clear: both;
}

footer{

    background-color: rgb(44, 141, 206);
    height: 300px;
    margin-bottom: -500px;
}
